<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/js/chatheads.js"></script>
    <script src="../app/controllers/mainController.js"></script>
    <script src="../app/directives/appInfo.js"></script>
    <script src="../app/services/appService.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body ng-app="myApp" ng-controller="MainController">

<!--chat head-->
<div class="chat-head" id="chathead">
    <a class="person"></a>
    <div class = message id = "msg">
        <div class="question">
            <p ng-bind-html="question | linky"></p>
        </div>
        <hr ng-if="form==false" align="center" width="95%">
        <div ng-if="form==false" ng-repeat="option in options" ng-click="answerFunction(option.qid, option.id)">
            <div class="buttons" role="button">
                <p ng-hide="hide">{{option.answer}}</p>
            </div>
            <hr align="center" width="95%">
        </div>
        <div ng-if="form==true">
            <form class="form-horizontal text-center" ng-submit="formSubmit();">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Etunimi" ng-model="formData.name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Sukunimi" ng-model="formData.surname" required>
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" placeholder="Puhelinnumero" ng-model="formData.phone" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Sähköposti" ng-model="formData.email" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Organisaation nimi" ng-model="formData.org" required>
                </div>
                <div class="form-group">
                    <textarea maxlength="255" type="text" class="form-control" placeholder="Vapaa kenttä" ng-model="formData.comments"></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Lähetä">
            </form>
        </div>
    </div>
    <div class="bubble" id="bubble">
    <p id="bubble-text">
        Hei olen myyntirobotti, klikkaa minua.
    </p>
    </div>
</div>

<div class="main main-height" draggable="true" id="dragme" ondrag="dragFunction()">
    <div style="height:55px;">
        <div class="circle-header" ng-click="headHide = !headHide" data-toggle="collapse" href="#collapse1"></div>
        <div class="box-header" ng-hide="!headHide">
            <span title="Poista tallennetut tiedot" class="col-md-3 col-md-offset-9 glyphicon glyphicon-remove" ng-click="clearSession(); headHide = !headHide"></span>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="questions">
                        <div class="question">
                            <p ng-bind-html="question"></p>
                        </div>
                        <hr ng-if="form==false" align="center" width="95%">
                        <div ng-if="form==false" ng-repeat="option in options" ng-click="answerFunction(option.qid, option.id)">
                            <div class="buttons" role="button">
                                <p ng-hide="hide">{{option.answer}}</p>
                            </div>
                            <hr align="center" width="95%">
                        </div>
                        <div ng-if="form==true">
                            <form class="form-horizontal text-center" ng-submit="formSubmit();">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Etunimi" ng-model="formData.name" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Sukunimi" ng-model="formData.surname" required>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Puhelinnumero" ng-model="formData.phone" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Sähköposti" ng-model="formData.email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Organisaation nimi" ng-model="formData.org" required>
                                </div>
                                <div class="form-group">
                                    <textarea maxlength="255" type="text" class="form-control" placeholder="Vapaa kenttä" ng-model="formData.comments"></textarea>
                                </div>
                                <input type="submit" class="btn btn-default" value="Lähetä">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#dragme").draggable({containment: "document"});
    });
    function dragFunction() {
        $("#dragme").removeClass("main-height");
    }
</script>
<script src="../app/js/chatheads.js"></script>
</body>
</html>