@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
body {
    margin-top: 4px;
    font-family: 'Raleway', serif;
    height:100%;
}

.chat-head {
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 9999;
    width: 52px;
    height: 52px;
}

.chat-head .person {
    background:url('https://i.imgur.com/fORwSWL.png');
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 105%;
    border-radius: 55px;
    -moz-box-shadow:inset 0px 0px 8px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.7);
    border: 0px solid rgba(255, 255, 255, 0.3);
    overflow:hidden;
}

.chat-head .message {
    display:none;
    position:relative;
    left:20%;
    bottom:0%;
    min-height:255px;
    width:280px;
    background-color:rgba(255,255,255,0.9);
    border:1px solid #bcbcbc;
    outline:1px solid transparent;

}

.chat-head p {
    margin: 0;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}


.info {
    padding: 0;
    color: white;

}
.info-text {
    padding:0;
    border:1px solid #DF192C;
    height:60px;
    background-color:#DF192C;
    text-align:center;
    padding-top:10px;

}

.info-text > h4 {
    margin:0;
}


.bubble {
    position: relative;
    right:280px;
    bottom:80px;
    width: 250px;
    height: 120px;
    color: #FFFFFF;
    text-align: center;
    padding: 0px;
    background: #c9c9c9;
    border-radius: 10px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #c9c9c9;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 45px;
}

#bubble-text {
    padding:5px;
    font-size:18;
    padding-top:32px;
    font-family:roboto;
}

.appInfo{
  height: 0;
}

.appInfo > div{
    display: none;
}

.buttons{
    min-height:45px;
    padding:10px;
    font-size:1.1em;
    text-align:center;
    color:#474747;
}

p.ng-binding{
    margin:0;
    padding:0;
}

.buttons:hover{
    background-color:#e8e8e8;
    color:#df192c;
}
.buttons > p{
    position:relative;
    transition: all 0.3s ease-out;

}

.ng-hide{
    color:rgba(223,25,44, 0);
}
.main {
    position:absolute;
    left:40%;
    width:280px
}
.main-height{
    bottom:0%;

}

.questions{
    padding-top:1px;
    min-height:260px;
    width:100%;
    background-color:rgba(255,255,255,0.9);
    border:1px solid #a8a8a8;
}

.question{
    background-color:rgba(234, 234, 234, 0.3);
    min-height:75px;
    margin:6px;
    box-shadow: 0px 0px 1px black;
    border-radius:2px;
}
.question > p{
    padding:5px;
    font-size:1.1em;
}
 hr{
     border-top: 1px solid #bec0c4;
     margin:0 auto 0 auto;
 }

#glyph{
float:right;
}

#clear {
display:block;
height:5%;
}

.box-header{
    height:55px;
    width:100%;
    transition: all 0.3s ease-out;
}

.box-header > span{
    color:#828282; margin-top:15px; font-size:2em; text-align:center;
}

.circle-header{
    position:absolute;
    top:0px;
    left:120px;
    background-color:white;
    box-shadow: 0px 0px 4px black;
    margin:auto;
    height:50px;
    width:50px;
    border-radius:50px;
    border:1px solid white;
    z-index:100;
}
.box-header.ng-hide{
    opacity:0;
}

.panel-body{
    padding:0;

}
.panel-default{
    border:0px;
    background-color:transparent;

}
.panel-group{
    margin:0;
    background-color:transparent;
}

.glyphicon-remove, .glyphicon-chevron-left{
    cursor: pointer;
}

.glyphicon-remove{

    font-size:2em;
    color:#828282;
}

.glyphicon-remove:hover{

    color:#df192c;
}

.form-horizontal .form-group{
    margin:7px 0;
}
.form-control {
    width:97%;
    margin:auto;
}