body{
    height:100%;

}

.main {
    position:absolute;
    right:82%;
    width:310px;
    background-color:rgba(241, 241, 241, 0.5);
    border:1px solid #dedede;
}
.main-height{
    bottom:0%;

}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
body {
    margin-top: 4px;
    font-family: 'Raleway', serif;
}

.chat-head {
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 9999;
    width: 52px;
    height: 52px;
}

.chat-head .person {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 105%;
    border-radius: 55px;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.7), 0 0 5px rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.chat-head .message {
    display:none;
    position:relative;
    left:20%;
    bottom:0%;
    height:255px;
    width:280px;
    background-color:rgba(255,255,255,0.9);
    border:1px solid #bcbcbc;
    outline:1px solid transparent;

}

.chat-head p {
    margin: 0;
    font-size: 12px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}


.info {
    padding: 0;
    color: white;

}
.info-text {
    padding:0;
    border:1px solid #DF192C;
    height:60px;
    background-color:#DF192C;
    text-align:center;
    padding-top:10px;

}

.info-text > h4 {
    margin:0;
}

.appInfo{
  height: 0;
}

.appInfo > div{
    display: none;
}

.napit{
    height:40px;
    padding:10px;
    font-size:1.1em;
    text-align:center;
    color:#474747;
}
.napit:hover{
    background-color:#e8e8e8;
    color:#df192c;
}
.napit > p{
    position:relative;
    transition: all 0.3s ease-out;

}

.ng-hide{
    color:rgba(223,25,44, 0);
}
.kysymys{
    background-color:rgba(234, 234, 234, 0.3);
    height:75px;
    margin:6px;
    box-shadow: 0px 0px 1px black;
    border-radius:2px;
}

#glyph{
float:right;
}

#clear {
display:block;
height:5%;
}